<html>
	<head>
		<title>Culture Wall</title>
		 <link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id='content'>
			<h1>Culture Wall <img src='/icon.svg' /></h1>
			<div class='tagline'>Discover your company's values.</div>
			<div class='tagline'>See what sticks.</div>
			<div class='nav-section'>
				<a href='/walls/demo'>
					<button>
						View Demo Wall
					</button>
				</a>

				<a href='/walls/new'>
					<button>
						Create Free Wall
					</button>
				</a>

				<a href='/payment'>
					<button>
						Payment Options
					</button>
				</a>
			</div>
			<% if @recent_wall %>
				<div id='currentWall' class='closeable-bar' onclick='hideCurrentWall()'>
					<span>
						Your most recent wall: <a href='/walls/<%= @recent_wall %>'><%= @recent_wall %></a>
					</span>
					<img src='/close.svg' />
				</div>
			<% end %>
		</div>
		<script>
			function hideCurrentWall() {
				document.getElementById('currentWall').style.display = 'none'
			}
		</script>
	</body>
</html>