<html>
	<head>
		<title>Culture Wall</title>
		<style>
			body {
				display: flex;
				flex-direction: column;
				margin: 10;
				padding: 10;
				text-align: center;
			}

			.nav-section {
				padding-top: 50px;
				display: flex;
				flex-direction: column;
				margin-left: auto;
				margin-right: auto;
			}

			.nav-section > a {
				padding: 10px;
			}

			button, a {
				width: 150px;
				height: 50px;
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<h1>Culture Wall</h1>
		<h2>Brainstorm your company's values. See what sticks.</h2>
		<div class='nav-section'>
			<a href='/walls/demo'>
				<button>
					View Demo Wall
				</button>
			</a>

			<a href='/walls/new'>
				<button>
					Create Free Wall
				</button>
			</a>

			<a href='/payment'>
				<button>
					Payment Options
				</button>
			</a>
		</div>
	</body>
</html>