<html>
	<head>
		<title>Culture Wall</title>
		 <link href="style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id='content'>
			<h1>Payment Options</h1>
			<div class='tagline'>Only the Free Tier is available at this time</div>
			<div class='tagline'><a href='/'>Return to main page</a></div>
			<div class='nav-section'>
					<div class='payment-option'>
						<a  class='silent-link' href='/walls/new'>
							<div class='payment-header'>Free Tier</div>
							<div class='tagline'>Create unlimited walls</div>
							<div class='tagline'>No more than three values per wall</div>		
							<div class='tagline'>Pay nothing</div>
						</a>
					</div>

				<div class='payment-option'>
					<div class='payment-header'>One Off</div>
					<div class='tagline'>Purchase premium walls one at a time</div>
					<div class='tagline'>Unlimited values and voting</div>		
					<div class='tagline'>$50 per wall</div>
				</div>

				<div class='payment-option'>
					<div class='payment-header'>Paid Subscription</div>
					<div class='tagline'>Create unlimited walls</div>
					<div class='tagline'>Unlimited values and voting for each wall</div>		
					<div class='tagline'>$50 per month</div>
				</div>
			</div>
		</div>
	</body>
</html>