<html>
	<head>
		<title>Culture Wall</title>
		 <link href="/wall-style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id='controls'>
			<a class='home-link' href='/'><img id='logoIcon' src='/icon.svg' /> <span>Culture Wall</span></a>
			<div id='wallLink'></div>
			<div class='new-value'>
				<input id='newValue' onkeypress="submitWrapper(event)" /><button onclick='addValue()'>Add new value</button>
			</div>
		</div>
		
		<div id='bottomBar' onclick='hideBottomBar()'>
			<span>Click on a value to vote it up, or right-click to vote it down. You may vote as many times as you want.</span>
			<img src='/close.svg' />
		</div>

		<div id='values-container'>
			<% @values.each do |value| %>
				<div class='culture-value' style='font-size: <%= 10 + (value.votes * 5) %>px;'>
					<%= value.name %>		
				</div>
			<% end %>
		</div>

		<script type='application/javascript' src='/wall.js'></script>
	</body>

</html>